@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 200;
	src: url('DINPro-Light.otf');
}
@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 400;
	src: url('DINPro-Regular.otf');
}
@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 500;
	src: url('DINPro-Medium.otf');
}
@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 700;
	src: url('DINPro-Bold.otf');
}
@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 800;
	src: url('DINPro-Black.otf');
}
* {
	font-family: 'DINPro', sans-serif
}
:root {
	--underlay : #5b7dd4;
}
a,
h1,
li,
p {
	position: relative;
	z-index: 1;
}
header a::after {
	content: "";
	transition: width .15s;
	width: 0%;
}
header a:hover::after {
	background-color: var(--underlay);
	bottom: 5px;
	content: "";
	display: block;
	height: 70%;
	opacity: 0.5;
	position: absolute;
	right: 7px;
	width: 90%;
	z-index: -1;
}
/* The active navbar link */
header .active::after {
	background-color: var(--underlay);
	bottom: 5px;
	content: "";
	display: block;
	height: 70%;
	opacity: 0.5;
	position: absolute;
	right: 7px;
	transition: width .15s;
	width: 90%;
	z-index: -1;
}
header .active:hover::after {
	background-color: var(--underlay);
	bottom: 5px;
	content: "";
	display: block;
	height: 70%;
	opacity: 0.5;
	position: absolute;
	right: 7px;
	width: 100%;
	z-index: -1;
}
/* Titles and the like */
h1::after {
	background-color: var(--underlay);
	bottom: 0;
	content: "";
	display: block;
	height: 50%;
	left: 10px;
	opacity: 0.5;
	position: absolute;
	width: 110%;
	z-index: -1;
}
/* Little squares for bullet points */
li::before {
	/* Ultimate guess-and-check that manages to align my bullet points on all page sizes... */
    border-left: 4px solid #000;
    content: "";
    height: 4px;
	left: -1.5rem;
	position: absolute;
	top: 0.7em;
}
/* For list pages, don't want underlays on all links because it would be too overbearing */
.list a {
	font-weight: bold;
}
.list a::after {
	content: "";
	transition: width .15s;
	width: 0%;
}
/* Uses .main because we don't want all navbar links to have underlays */
.main a::after {
	background-color: var(--underlay);
	content: "";
	display: block;
	height: 40%;
	left: 5px;
	opacity: 0.5;
	position: absolute;
	top: 60%;
	transition: width .15s;
	width: calc(100% + .3em);
	z-index: -1;
}
.list a:hover::after,
.main a:hover::after {
	background-color: var(--underlay);
	content: "";
	display: block;
	height: 40%;
	left: 5px;
	opacity: 0.5;
	position: absolute;
	top: 60%;
	width: calc(100% + .8em);
	z-index: -1;
}
.main a:hover::after {
	background-color: var(--underlay);
	content: "";
	display: block;
	height: 40%;
	left: 5px;
	opacity: 0.5;
	position: absolute;
	top: 60%;
	width: calc(100% + .8em);
	z-index: -1;
}
::-moz-selection {
	background-color: #fef9d8; 
}
::selection {
	background-color: #fef9d8; 
}
