{{ partial "header.html" . }}

<div class="main lh-title mw7 mh3-l ph3">
	<h1 class="dib f2-ns f3 fw5">{{ .Title }}</h1>
	<div class="f4-ns f5 lh-copy">
		{{ .Content }}
		{{ range .Pages }}
			<p><a class="black link" href="{{ .URL }}">{{ .Title }}</a></p>
		{{ end }}
	</div>
</div>

{{ partial "footer.html" . }}
