<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- https://discourse.gohugo.io/t/compare-site-baseurl-with-a-string/2919/2 -->
		<title>{{ with .Title }}{{ $title := printf "%s" $.Title }}{{ if not (eq $title $.Site.Title)}}{{$title}} · {{ end }}{{ end }}{{ .Site.Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/tachyons.min.css">
	</head>
	<body class="mh5-l mt5-l mt3 pb5">
		<header class="mh3-l ph3 mb3">
			<div class="fw5 db dt-ns mw9 w-100">
				{{ $section := .Section }}
				<div class="db dtc-ns v-mid tl w-50">
					<a href="/" class="{{if eq $section ""}} active {{end }} black dib link mt0 mb1" title="Home">Home</a>
				</div>
				<nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
					{{ range .Site.Sections.ByTitle }}
						<!-- Leave out my home page -->
						{{ if ne (humanize .Section) "Home" }}
							<a class="{{ if eq $section (lower .Section) }} active {{end}} dib gray link mr2 mr3-m mr4-l" href="{{ .Permalink }}">{{ humanize .Section }}</a>
						{{ end }}
					{{ end }}
				</nav>
			</div>
		</header>
