{{ partial "header.html" . }}

<div class="lh-title main mh3-l mw7 ph3">
  <h1 class="dib f2-ns f3 fw5">Hello!</h1>
  <div class="f4-ns f5 lh-copy">
    <p>Welcome to my personal webpage.</p>
    <p>
      To get in touch, e-mail me
      <a class="b black link" href="mailto:kaiwenli@college.harvard.edu">here</a
      >.
    </p>
  </div>
</div>

{{ partial "footer.html" . }}
