{{ partial "header.html" . }}

<div class="lh-title main mh3-l mw9 ph3">
	<h1 class="dib f2-ns f3 fw5">{{ .Title }}</h1>
	<div class="f4-ns f5 lh-copy">
		{{ .Content }}
	</div>
</div>

{{ partial "footer.html" . }}
